@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ResultViewModel

<h1>Summary</h1>

<h3>Success!</h3>

<h4>@Model.Result has been registered</h4>
